
@import url('https://fonts.cdnfonts.com/css/keep-calm');




.homecontainer{

    border-radius: 50px;
    margin-top: 50px;
    font-family: 'Keep Calm', sans-serif;
    font-size: larger;
    background-color: aliceblue;


}